.App {
  text-align: left;
}

.App-header {
  margin: 0;
  padding: 0;
}

.App-link {
  color: inherit;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
